<script>
    // Credit: Johnny-By https://codepen.io/jcb01/pen/ZEKpYgV
    //your playlist here
        var plist = "PLXgY2lSmSkqRwgt0wB8O5Y9BxL02Jy7Li";

        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement("script");

        tag.src = "https://www.youtube.com/iframe_api";

        var firstScriptTag = document.getElementsByTagName("script")[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player("player", {
                playerVars: {
                    autoplay: 0,
                    enablejsapi: 1,
                    loop: 1,
                    controls: 1,
                    showinfo: 1,
                    modestbranding: 1,
                    listType: "playlist",
                    list: plist
                },

                events: {
                    onReady: onPlayerReady,
                    onStateChange: onPlayerStateChange
                }
            });
        }

        // 4. The API will call this function when the video player is ready.

        function onPlayerReady(event) {
            shuff_list(); /*disable this line if you not want it to be shuffled onload*/
        }

        function onPlayerStateChange(event) {
            const player = event.target;
        }
        // 5. very simple YT shuffle command.
        function shuff_list() {
            player.setShuffle(true);
            // starts at first video in the new list sequence. index 0
            player.playVideoAt(0);
        }

</script>
<div>
    <div id="video-container" style="width: 560; height: 315; position: relative; padding-top: 2.5%; padding-bottom:35.25%;">
    <!-- responsive YT video div containers -->
    
    <div id="player" style="position: absolute">
        <!--This div contains the youtube player. use div or iframe id= player-->
    
    </div>
</div>
